@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
section {
  margin: 0 1rem;
}

/* Header */
#homePage header {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgb(0, 0, 0, 0.6)),
    url("../assets/images/jumbotron-bg.jpg") no-repeat right;
  background-size: cover;
}
nav .logo-section {
  padding: 2rem 0 2rem 2rem;
  border: none !important;
}
nav .logo-section img {
  width: 20%;
}
.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 5rem auto;
  gap: 20px;
}
.jumbotron .tag-line-sect,
.jumbotron .nav-sect {
  width: 50%;
}
header .jumbotron .tag-line-sect h1 {
  font-family: "Roboto Slab", sans-serif;
  color: #fff;
  font-size: 3rem;
  line-height: 4rem;
}
header .jumbotron .nav-sect {
  border: none;
  border-radius: 20px;
  padding: 0 10px;
  margin: 2rem auto;
}
header .jumbotron .nav-sect h3 {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
}
header .jumbotron .nav-sect .nav-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin: 2.2rem auto;
}

header .jumbotron .nav-sect .nav-items .nav-item {
  width: 18.6rem;
  padding: 0.7rem 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #f5f5dc;
  background-color: transparent;
  border: 0.1rem solid #efd894;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.btn-arrow {
  margin-left: 0.5rem;
  transition: margin-left 0.4s;
}
header .jumbotron .nav-sect .nav-items .nav-item:hover .btn-arrow {
  margin-left: 1rem;
}

/* Why us section */
.container h2 {
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.container h2::after {
  content: "";
  width: 150px;
  display: block;
  height: 2px;
  background-color: #000;
  margin-top: 1rem;
}
.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #757474;
}
.why-us .why-us-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 3rem auto;
}
.why-us .why-us-desc {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 1rem auto;
  text-align: center;
}
.why-us .why-us-flex .why-us-item {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.why-us .why-us-item .why-us-icon svg,
.why-us .why-us-item .why-us-icon i {
  width: 40px;
  font-size: 2rem;
  display: block;
  border: none;
  color: #d09e07;
}
.why-us .why-us-item .why-us-text {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}
.why-us-icon {
  width: 50px;
  display: flex;
  justify-content: flex-start;
}

/* Gallery */
.gallery .gallery-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 1rem auto;
}
.gallery .gallery-item img {
  max-width: 300px;
}
.gallery .gallery-item .modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
}
.btn-sect {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}
.see-more-btn {
  display: block;
  width: 220px;
  font-size: 1.3rem;
  text-decoration: none;
  outline: none;
  border: 2px solid #d09e07;
  color: #d09e07;
  padding: 14px;
  border-radius: 8px;
  text-align: center;
}
.btn-arrow {
  margin-left: 0.5rem;
  transition: margin-left 0.4s;
}
.see-more-btn:hover .btn-arrow {
  margin-left: 1rem;
}
.testimonials {
  margin-bottom: 2rem;
}

.testimonials-text {
  font-size: 0.8rem;
  margin: 1rem auto;
  max-width: 600px;
}

footer,
.navigations .navbar {
  background-color: #dedede;
}
.footer {
  border: none !important;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}
.footer .footer-address {
  width: 40%;
}
.footer .footer-address address {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0 !important;
}
.footer h3 {
  font-size: 1.8rem;
  color: #333;
  max-width: 400px;
  margin-bottom: 1rem;
}
.footer .footer-contact {
  width: 30%;
}
.footer .footer-contact .footer-contact-sect {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}
.footer .footer-contact .footer-contact-sect .footer-contact-icon i {
  font-size: 1.5rem;
}
.footer .footer-contact .footer-contact-sect .footer-contact-text a {
  text-decoration: none;
  outline: none;
  font-size: 1.5rem;
}
.footer .footer-social {
  width: 20%;
}
.footer .social-icon-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin: 1rem auto;
}
.footer .social-icon-list .social-icon-item {
  width: 20%;
}
.footer .social-icon-list .social-icon-item i {
  font-size: 2.5rem;
  color: #333;
  transition: all 0.4s linear;
}
.footer .social-icon-list .social-icon-item i:hover {
  color: #d09e07;
}
.footer p {
  width: 100%;
  font-size: 0.8rem;
  margin: 1rem 0 0;
  text-align: right;
}

/* navigations */
.navigations .navbar-brand {
  width: 20%;
}
.navigations .container {
  border: none;
  padding: 0.5rem;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  header .jumbotron .nav-sect .nav-items .nav-item {
    width: 14rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  nav .logo-section,
  .navigations .navbar-brand {
    padding-bottom: 0px;
  }
  nav .logo-section img,
  .navigations .navbar-brand {
    width: 25%;
  }
  .jumbotron {
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem auto;
  }
  .jumbotron .tag-line-sect,
  .jumbotron .nav-sect {
    width: 100%;
  }
  header .jumbotron .nav-sect .nav-items {
    justify-content: center;
    margin: 0 auto;
  }
  .why-us .why-us-flex .why-us-item {
    width: 100%;
  }
  .container h2 {
    font-size: 1.8rem;
  }
  .container h2::after {
    margin-top: 0.6rem;
    height: 1px;
    width: 80px;
  }
  .why-us .why-us-flex .why-us-item {
    margin-top: 0.7rem;
  }
  .why-us .why-us-flex {
    margin: 1rem auto;
  }
  .see-more-btn {
    border-width: 1.3px;
    padding: 8px;
    width: 180px;
    font-size: 1rem;
  }
  .footer {
    flex-direction: column;
  }
  .footer h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  .footer .footer-address address {
    font-size: 1rem;
  }
  .footer-address,
  .footer-contact,
  .footer-social {
    width: 100% !important;
  }
  .footer .footer-contact .footer-contact-sect {
    margin-bottom: 0.6rem;
  }
  .footer .footer-contact .footer-contact-sect .footer-contact-icon i,
  .footer .footer-contact .footer-contact-sect .footer-contact-text a {
    font-size: 1rem;
  }
  .footer .social-icon-list .social-icon-item i {
    font-size: 2rem;
  }
}
/* Small Devices */
@media screen and (max-width: 480px) {
  nav .logo-section img {
    width: 45%;
  }
  .navigations .navbar-brand{
    width: 30%;
    margin-left: 0.8rem;
  }
  nav .logo-section {
    padding: 1rem 0 1rem 1rem;
  }
  header .jumbotron .tag-line-sect h1 {
    font-size: 2.5rem;
    line-height: 3.2rem;
  }
  header .jumbotron .nav-sect h3 {
    font-size: 1.8rem;
  }
  .why-us .why-us-desc {
    font-size: 1rem;
  }
  .container h2 {
    font-size: 1.5rem;
  }
}
